$primary_color:  #F6E9D2;
$text_color: #0E1705; 
$secondary_color: rgb(133,192,65);


body {
    color: $text_color;
    
    nav {
        top: 0;
        background: transparent;
        
        .logo {
            img {
                width: 100%;
              }
          }
        .navbar-item {
        .nav-link {            color: $text_color;
            background: rgba(255,255,2555,0.5);
            margin: 0 5px;
            border-radius: 10px;
            box-shadow: 10px 10px 27px -15px rgba(0,0,0,0.75);
            }
        }
       
    }
    
    main {
    
    .jumbotron  {
        padding-top: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 60vh;
        background: url("https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Ftimedotcom.files.wordpress.com%2F2015%2F04%2Fdavid-george-gordon-deep-fried-tarantula-spider-image-p-118.jpeg%3Fquality%3D85&w=800&c=sc&poi=face&q=85")  center center/cover no-repeat;
        .btn {
            background-color: #B23130;
            border: none;
        }
       .container   {
           background-color:red;
       }
    }
    }
}


















    


  
  
  

  
