/* variables */
/* animations */
@-webkit-keyframes reduce {
  from {
    height: 1000px;
    opacity: 0.7;
  }
  to {
    height: 100%;
    opacity: 0;
  }
}
@keyframes reduce {
  from {
    height: 1000px;
    opacity: 0.7;
  }
  to {
    height: 100%;
    opacity: 0;
  }
}

/* main styling and for index.html */
.transparentbg1 {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: 2s reduce forwards;
          animation: 2s reduce forwards;
}

.transparentbg1:before {
  content: '';
  background: url("https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Ftimedotcom.files.wordpress.com%2F2015%2F04%2Fdavid-george-gordon-deep-fried-tarantula-spider-image-p-118.jpeg%3Fquality%3D85&w=800&c=sc&poi=face&q=85") center center/cover no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

body {
  background: #f2f2f2;
  height: 100%;
  color: #0E1705;
}

body nav {
  top: 0;
  background: transparent;
}

body nav .logo img {
  width: 100%;
}

body nav .navbar-item .nav-link {
  font-weight: 900;
  color: #0E1705;
  margin: 0 5px;
  border-radius: 10px;
}

body .btn-primary {
  background-color: #B23130;
  border: none;
}

body main .transparentbg {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
}

body main .transparentbg:before {
  content: '';
  background: url("https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Ftimedotcom.files.wordpress.com%2F2015%2F04%2Fdavid-george-gordon-deep-fried-tarantula-spider-image-p-118.jpeg%3Fquality%3D85&w=800&c=sc&poi=face&q=85") center center/cover no-repeat;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

body .jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60vh;
}

body .jumbotron h1, body .jumbotron p {
  font-weight: 900;
}

/* gallery */
.gallery {
  background: rgba(255, 255, 255, 0.4);
}

.gallery img {
  border: 3px groove #B23130;
}

/* contact */
.contact {
  margin-top: 15%;
}

.contact .btn-primary {
  background-color: #B23130;
  border: none;
}

/* restaurant */
main .restaurantcontent ul {
  list-style-type: circle;
  padding-left: 20px;
}

main .nav-link.active, main a:hover {
  background-color: #b23130 !important;
  color: white;
}

main .restaurants a {
  background-color: rgba(178, 49, 48, 0.5) !important;
  color: white;
}

main a:hover {
  background-color: rgba(178, 49, 48, 0.5) !important;
  color: white;
}

/* menu */
.list-group-item {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-group-item span {
  margin-left: auto;
}

.list-group-item.dropdown, .badge-primary {
  color: white;
  background: #B23130;
}

/* Media queries */
@media (max-width: 766px) {
  nav .mainbar {
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 13px 10px 37px -17px rgba(0, 0, 0, 0.75);
            box-shadow: 13px 10px 37px -17px rgba(0, 0, 0, 0.75);
    width: 320px;
  }
  nav .mainbar li {
    text-align: center;
  }
}
